.added-box{ margin-left:50px; width: 500px;}
.layui-upload {
        /*margin-left: 150px;*/
    }

    .layui-upload-list {
        width: 100px;
        height: 100px;
        border:1px solid #ccc;
        border-radius:3px;
    }

    .layui-upload-list img {
        width: 100%;
    }

    .layui-form-item .layui-input-inline {
        width: 240px;
    }
    .layui-form-label{ width: 120px; }

    .new-account-title{ font-size: 16px; color: #333; line-height: 42px; border-bottom: 1px dashed #ccc; padding-left: 20px; margin: 30px 0;}
     .layui-form-item .grounp-btn{ text-align: right;}
    .layui-form-item .grounp-btn .layui-btn{ padding:0 25px; }
    .layui-upload .layui-btn{ height: 34px; padding:0 22px; line-height: 34px;}
    .no-void{ display: inline-block; line-height: 38px; color: red; }