	body{ margin:0; padding:0; margin:15px 0 0 15px;}
	.upload-title{ margin:10px 0;}
	.btn{
        color: #fff;
	    background-color: #3fa6ff;
	    border-color: #2e6da4; 
	    display: inline-block;
	    padding: 6px 12px;
	    margin-bottom: 0;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 1.42857143;
	    text-align: center;
	    white-space: nowrap;
	    text-decoration: none;
	    vertical-align: middle;
	    -ms-touch-action: manipulation;
	    touch-action: manipulation;
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    background-image: none;
	    border: 1px solid transparent;
	    border-radius: 4px;
	}
	a.btn:hover{
      background-color: #3366b7;
      color: #fff;
	}
	.progress{
		margin-top:10px;
	    width: 650px;
	    height: 14px;
	    margin-bottom: 10px;
	    overflow: hidden;
	    background-color: #f5f5f5;
	    border-radius: 4px;
	    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	}
	.progress-bar{ 
		background-color: rgb(92, 184, 92);
		background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
		background-size: 40px 40px;
		box-shadow: rgba(0, 0, 0, 0.14902) 0px -1px 0px 0px inset;
		box-sizing: border-box;
		color: rgb(255, 255, 255);
		display: block;
		float: left; 
		font-size: 12px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		transition-delay: 0s;
		transition-duration: 0.6s;
		transition-property: width;
		transition-timing-function: ease;
		width: 266.188px;
	}
	#container{ margin-top: 15px;}
	.upload-tips{ color: #333;  }
	#picDivId{ width:120px; height: 120px; border:1px solid #ccc; border-radius:3px; overflow: hidden; box-sizing: border-box;}
	#picDivId img{ width:100%; }
	#ossfile{ margin-bottom: 10px;}
	.grounp-btn{ margin-top:35px;}
	.grounp-btn input.have-btn{ width:82px; height:34px; line-height: 35px; text-align: center;  background-color:#3fa6ff;color: #fff; border:none; border-radius:3px;margin-right: 35px; }
	.grounp-btn input.reset-btn { width:82px; height:34px; line-height: 35px; text-align: center;  background-color:#CCCCCC;color: #fff; border:none;border-radius:3px; }
	.grounp-btn input.have-btn:hover{ background-color:#3366b7;}
	.grounp-btn input.reset-btn:hover{ background-color: #b0b0b0;}
	.upload-wrapper{ width: 120px; margin-right: 15px; float: left; text-align: center; }
	.selectfiles{ margin:0 auto;}
	#container1{ margin-top: 15px;}
	#picDivId1{ width:120px; height: 120px; border:1px solid #ccc; border-radius:3px; overflow: hidden; box-sizing: border-box; }
	#picDivId1 img{ width:100%; }
	#container2{ margin-top: 15px;}
	#picDivId2{ width:120px; height: 120px; border:1px solid #ccc; border-radius:3px; overflow: hidden; box-sizing: border-box; }
	#picDivId2 img{ width:100%; }
	#container3{ margin-top: 15px;}
	#picDivId3{ width:120px; height: 120px; border:1px solid #ccc; border-radius:3px; overflow: hidden; box-sizing: border-box; }
	#picDivId3 img{ width:100%; }
	#container4{ margin-top: 15px;}
	#picDivId4{ width:120px; height: 120px; border:1px solid #ccc; border-radius:3px; overflow: hidden; box-sizing: border-box; }
	#picDivId4 img{ width:100%; }
	#container5{ margin-top: 15px;}
	#picDivId5{ width:120px; height: 120px; border:1px solid #ccc; border-radius:3px; overflow: hidden; box-sizing: border-box; }
	#picDivId5 img{ width:100%; }

	#container6{ margin-top: 15px;}
	#picDivId6{ width:120px; height: 120px; border:1px solid #ccc; border-radius:3px; overflow: hidden; box-sizing: border-box; }
	#picDivId6 img{ width:100%; }
	#container7{ margin-top: 15px;}
	#picDivId7{ width:120px; height: 120px; border:1px solid #ccc; border-radius:3px; overflow: hidden; box-sizing: border-box; }
	#picDivId7 img{ width:100%; }
	#ossfile1{ margin-bottom: 10px;}