<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="dao/generator/MlsdBrandCultureGenerator-Mapper.xml"/>
        <mapper resource="dao/generator/MlsdCompanyProfileGenerator-Mapper.xml"/>
        <mapper resource="dao/generator/MlsdContactMessageGenerator-Mapper.xml"/>
        <mapper resource="dao/generator/MlsdContactUsGenerator-Mapper.xml"/>
        <mapper resource="dao/generator/MlsdHomePageGenerator-Mapper.xml"/>
        <mapper resource="dao/generator/MlsdItemAdvantageGenerator-Mapper.xml"/>
        <mapper resource="dao/generator/MlsdIntendedUsersGenerator-Mapper.xml"/>
        <mapper resource="dao/generator/MlsdJoinInvestmentGenerator-Mapper.xml"/>
        <mapper resource="dao/generator/MlsdOnlineServiceGenerator-Mapper.xml"/>
        <mapper resource="dao/generator/MlsdProductPresentationGenerator-Mapper.xml"/>
        <mapper resource="dao/generator/MlsdStoreDisplayGenerator-Mapper.xml"/>
        <mapper resource="dao/generator/MlsdStrengthGenerator-Mapper.xml"/>

        <mapper resource="dao/generator/MlsdMobileBrandCultureGenerator-Mapper.xml"/>
        <mapper resource="dao/generator/MlsdMobileContactUsGenerator-Mapper.xml"/>
        <mapper resource="dao/generator/MlsdMobileHomePageGenerator-Mapper.xml"/>
        <mapper resource="dao/generator/MlsdMobileItemAdvantageGenerator-Mapper.xml"/>
        <mapper resource="dao/generator/MlsdMobileJoinInvestmentGenerator-Mapper.xml"/>
        <mapper resource="dao/generator/MlsdMobileProductPresentationGenerator-Mapper.xml"/>
        <mapper resource="dao/generator/MlsdMobileStoreDisplayGenerator-Mapper.xml"/>
        <mapper resource="dao/generator/MlsdMobileStrengthGenerator-Mapper.xml"/>
        <!--<mapper resource="dao/business/CleanImageTaskBusiness-Mapper.xml"/>-->

    </mappers>
</configuration>
