<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <!-- 主键 -->
  <mapper namespace="com.hd.dao.generator.MlsdMobileItemAdvantageGeneratorMapper">
  <resultMap id="MlsdMobileItemAdvantageMap" type="com.hd.entity.generator.MlsdMobileItemAdvantage" >
 	      	  <id column="id" property="id" jdbcType="BIGINT" />
	            	  <result column="text_1" property="text1" jdbcType="VARCHAR" />
	            	  <result column="text_2" property="text2" jdbcType="VARCHAR" />
	            	  <result column="show_image_1" property="showImage1" jdbcType="VARCHAR" />
	            	  <result column="show_image_2" property="showImage2" jdbcType="VARCHAR" />
	        </resultMap>
  
  <!-- 查询where部分sql限制条件集合 -->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim  prefixOverrides="and" prefix="(" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="("  close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
				 <when test="criterion.customValue">
                      ${criterion.value}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

 <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach  collection="criterion.value" item="listItem" open="(" close=")" separator=",">
					#{listItem}
                  </foreach>
                </when>
				<when test="criterion.customValue">
                      ${criterion.value}
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
    <sql id="Base_Column_List">
	        	    id
	  	  	   ,  text_1
	  	  	   ,  text_2
	  	  	   ,  show_image_1
	  	  	   ,  show_image_2
	  	    </sql>


  <!-- 增 -->
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.hd.entity.generator.MlsdMobileItemAdvantage" >
    insert into mlsd_mobile_item_advantage
    <trim prefix="(" suffix=")" suffixOverrides=",">
	   	   	        id
		          	       , text_1
		          	       , text_2
		          	       , show_image_1
		          	       , show_image_2
		              </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      		  #{id,jdbcType=BIGINT}
		      		 , #{text1,jdbcType=VARCHAR}
		      		 , #{text2,jdbcType=VARCHAR}
		      		 , #{showImage1,jdbcType=VARCHAR}
		      		 , #{showImage2,jdbcType=VARCHAR}
		          </trim>
  </insert>

  <!-- 替换 -->
  <insert id="replaceSelective" parameterType="com.hd.entity.generator.MlsdMobileItemAdvantage" >
     replace into mlsd_mobile_item_advantage
    <trim prefix="(" suffix=")" suffixOverrides=",">
	   	   	        id
		          	       , text_1
		          	       , text_2
		          	       , show_image_1
		          	       , show_image_2
		              </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      		 		 				#{id,jdbcType=BIGINT}
		  		 ,		 				#{text1,jdbcType=VARCHAR}
		  		 ,		 				#{text2,jdbcType=VARCHAR}
		  		 ,		 				#{showImage1,jdbcType=VARCHAR}
		  		 ,		 				#{showImage2,jdbcType=VARCHAR}
		      </trim>
  </insert>
  
  <!-- 删 -->
  <delete id="deleteByExample" parameterType="com.hd.entity.generator.MlsdMobileItemAdvantageExample" >
    delete from mlsd_mobile_item_advantage 
	<if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <delete id="deleteByPrimaryKey" parameterType="com.hd.entity.generator.MlsdMobileItemAdvantageKey" >
    delete from mlsd_mobile_item_advantage where id = 
	    	     		  #{id,jdbcType=BIGINT}
		 		      	          	          	          	          	 	
  </delete>
  
  <!-- 改 -->
  <update id="updateAllByExample">
    update mlsd_mobile_item_advantage
    <set>
	    		<if test="record.id !=null">
        id = #{record.id,jdbcType=BIGINT},
		 </if>
				<if test="record.text1 !=null">
        text_1 = #{record.text1,jdbcType=VARCHAR},
		 </if>
				<if test="record.text2 !=null">
        text_2 = #{record.text2,jdbcType=VARCHAR},
		 </if>
				<if test="record.showImage1 !=null">
        show_image_1 = #{record.showImage1,jdbcType=VARCHAR},
		 </if>
				<if test="record.showImage2 !=null">
        show_image_2 = #{record.showImage2,jdbcType=VARCHAR},
		 </if>
		    </set>
	<if test="_parameter != null">
       <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.hd.entity.generator.MlsdMobileItemAdvantage" >
    update mlsd_mobile_item_advantage
    <set>
	      <if test="id !=null">
      id = #{id,jdbcType=BIGINT},
      </if>
	      <if test="text1 !=null">
      text_1 = #{text1,jdbcType=VARCHAR},
      </if>
	      <if test="text2 !=null">
      text_2 = #{text2,jdbcType=VARCHAR},
      </if>
	      <if test="showImage1 !=null">
      show_image_1 = #{showImage1,jdbcType=VARCHAR},
      </if>
	      <if test="showImage2 !=null">
      show_image_2 = #{showImage2,jdbcType=VARCHAR},
      </if>
	    </set>
    where 
		      id = #{id,jdbcType=BIGINT}
										  </update>

  
  
  <!-- 查1 -->
  <select id="countByExample" parameterType="com.hd.entity.generator.MlsdMobileItemAdvantageExample" resultType="java.lang.Integer">
    select count(*) from mlsd_mobile_item_advantage
    <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!-- 查2 -->
  <select id="selectByExample" parameterType="com.hd.entity.generator.MlsdMobileItemAdvantageExample" resultMap="MlsdMobileItemAdvantageMap">
    select  
	<if test="distinct">
         distinct
     </if> 
	 <if test="columnName != null">
            ${columnName.quereyColumnNameStr}
     </if>
	 <if test="columnName == null">
			<include refid="Base_Column_List" />
	 </if>
	from mlsd_mobile_item_advantage 
   <if test="_parameter != null">
       <include refid="Example_Where_Clause" />
    </if>
	<if test="orderByClause != null">
       order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0 and limitEnd &gt;= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  
   <!-- 查3 -->
  <select id="selectByPrimaryKey" resultMap="MlsdMobileItemAdvantageMap" parameterType="com.hd.entity.generator.MlsdMobileItemAdvantage" >
    select 
	    	 id
			, text_1
			, text_2
			, show_image_1
			, show_image_2
		    from mlsd_mobile_item_advantage where id = #{id,jdbcType=BIGINT}
  </select>

    <!-- 查4 -->
  <select id="selectUnDelByPrimaryKey" resultMap="MlsdMobileItemAdvantageMap" parameterType="com.hd.entity.generator.MlsdMobileItemAdvantage" >
    select 
	    	 id
			, text_1
			, text_2
			, show_image_1
			, show_image_2
		    from mlsd_mobile_item_advantage where id = #{id,jdbcType=BIGINT}
												
  </select>
  
</mapper>
